<%- include("partials/header"); -%>
    
<section class="cardsContainers">
    <% moviesArray.forEach(movie => { %>
        <article  class="movieCard">
            <div class="infoContainer">
                <h2><%= movie.name %></h2>
                <p id="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam earum tempore eum facere dolor rerum suscipit corrupti consequuntur asperiores molestias nobis omnis.
                </p>
        
                <div class="deleteBtnContainer" >
                    <form action="/delete" method="post">
                        <button value="<%= movie._id %>" id="deleteBtn" type="submit" name="deleteBtn">
                            <i class="fa-solid fa-minus"></i>
                            <label for="" id="text">Delete</label>
                        </button>
                    </form>
                </div>
            </div>
        
            <div class="imgContainer">
                <img src="<%= movie.poster %>" alt="moviePhoto">
            </div>
        </article>
    <% }); %>
</section>

<%- include("partials/footer"); -%>